@font-face {
    font-family: 'Wavehaus Sans';
    src: url('resources/fonts/wavehaussans.eot'); /* IE9 Compat Modes */
    src: url('resources/fonts/wavehaussans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/wavehaussans.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/wavehaussans.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/wavehaussans.svg#svgFontName') format('svg'); /* Legacy iOS */
}
#body {
    background-color: #222222;
}
#mainissa {
    font-family: "Wavehaus Sans", sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 50vw;
    width: 100vw;
    margin-top: -100px; /*for exact positioning */
    position: fixed;
    color: white;
    -webkit-filter: drop-shadow(5px 5px #dda9c1) drop-shadow(4px 4px #981238) drop-shadow(3px 3px #0070b3);
    filter: drop-shadow(5px 5px #dda9c1) drop-shadow(4px 4px #981238) drop-shadow(3px 3px #0070b3);

}
}